body {
    font-family: Arial, sans-serif;
  }
  
  .photo {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  h2 {
    color: #060300;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  